name: Release

on:
  workflow_dispatch:
    inputs:
      version:
        type: string
        description: Version of the next release
        required: true

jobs:
  release:
    name: Create release/${{ inputs.version }}
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'

      - name: Setup Go
        uses: actions/setup-go@v3
        with:
          go-version-file: magefiles/go.mod

      - name: install npm
        run: |
          npm install

      - name: Prettier check
        run: |
          npm run prettier:fix

      - name: running misspell
        uses: reviewdog/action-misspell@v1
        with:
          github_token: ${{ secrets.github_token }}
          locale: "US"
          reporter: github-check
          exclude: |
            ./.git/*
            ./.cache/*

      - name: Running Language tool
        uses: reviewdog/action-languagetool@v1
        with:
          github_token: ${{ secrets.github_token }}
          # Change reviewdog reporter if you need [github-pr-check,github-check,github-pr-review].
          reporter: github-check
          # Change reporter level if you need.
          level: info
          language: en-US
          disabled_categories: 'TYPOS,TYPOGRAPHY,CASING'
      





      
          